.about {
  background: #191919;
}
img.about__img {
  border-radius: 10px;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
h1.about__heading {
  margin-bottom: 10px;
  font-weight: 700;
  text-align: start;
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  margin-top: 50px;
}
button.about.btn.pointer {
  text-transform: capitalize;
  width: 205px;
  height: 55px;
  font-size: 18px;
  transition: 0.4s ease;
}
.about__button {
  padding: 20px 0px;
}
a.bottom__to__top {
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 3%;
  right: 2%;
  background-color: #f9004d;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease;
  z-index: 1000;
}
a.bottom__to__top.active {
  display: flex;
}

.align__items__center {
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
  align-items: center;
}

.row__about {
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

svg {
  margin-right: 7px;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .p__color {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 768px) {
  .row__about {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  button.about.btn.pointer {
    text-transform: capitalize;
    width: 165px;
    height: 50px;
    font-size: 13px;
    transition: 0.4s ease;
  }
}
