.contact {
  background-color: #191919;
}
h1.hire__text {
  display: flex;
  font-size: 60px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}
.contact__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.hire__text {
  margin-left: 5px;
  margin-top: 5px;
  font-size: 20px;
  line-height: 30px;
  /* color: rgba(29, 29, 36, 0.75); */
  font-weight: 400;
  width: max-content;
  background-color: #51525238;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flow-root;
}
input.contact {
  display: block;
  width: 100%;
  padding: 0 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 50px;
  line-height: 46px;
  margin: 20px 0px;
  outline: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.1px;
  background: none;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
  margin-top: 5px;
}
.contact__img {
  border-radius: 10px;
  width: 100%;
  overflow: hidden;
  height: 600px;
}

/* .contact__box {
  margin-top: 50px;
} */

.contact__socialIcons {
  display: flex;
  gap: 33px;
  margin-top: 5px;
  font-size: 35px;
  padding: 10px;
  justify-content: center;
}

.contact__socialIcons a {
  text-decoration: none;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.contact__socialIcons a:hover {
  color: #f9004d;
  transform: translateY(-5px);
}

.hire__text {
  position: relative;
}

#contact__under::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 1px;
  background: #ababab;
  transition: 0.3s ease-out;
}

#contact__under:hover::after {
  left: 0;
  width: 100%;
}

textarea#message {
  height: 120px;
  background: none;
  padding: 0 20px;
  width: 100%;
  line-height: 46px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.1px;
  border: 2px solid hsla(0, 0%, 100%, 0.2);
}
button.btn.contact.pointer {
  margin: 20px 0px;
}

#msg {
  display: block;
  margin-top: 12px;
  font-size: 22px;
  color: #03830e;
}
