body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.col__md__1 {
  display: flex;
  flex-wrap: wrap;

  width: 40%;
  /* margin-left: 100px; */
}

.col__md__2 {
  display: flex;
  /* flex-direction: column; */
  width: 40%;
  flex-wrap: wrap;
  /* margin-left: 100px; */
}

.progress__title {
  width: 100%;
  height: auto;
}

.progress__title h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0 0 10px;
}

.progress {
  height: 20px;
  background: #171b3c;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 0 2px 2px #4f4c4c;
  margin-bottom: 40px;
  overflow: visible;
  position: relative;
  width: 90%;
}

.progress .progress__bar {
  border-radius: 20px;
  border: 1px solid #000;
  animation: animate-positive 2s;
}

.progress .progress__value {
  width: 65px;
  height: 25px;
  line-height: 25px;
  background: #171b3c;
  font-size: 15px;
  color: #fff;
  border-radius: 0 0 15px 15px;
  border: 1px solid #000;
  border-top: none;
  box-shadow: 0 2px 2px #4f4c4c;
  position: absolute;
  bottom: -25px;
  right: 60px;
}

h1.heading {
  font-size: 60px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}
p.heading.p__color {
  margin-bottom: 0;
  text-align: center;
  line-height: 1.2;
}
.service__box {
  border-radius: 10px;
  width: 100%;
  background-color: #191919;
  padding: 55px;
  transition: 0.4s ease;
}
.service__box:hover {
  transform: translateY(5px);
  background-image: linear-gradient(90deg, #f61b10, #ef0963);
}
.service__box:hover .icon {
  color: #fff;
}
.service__box:hover p.service__text.p__color {
  color: #fff !important;
}

.icon {
  font-size: 54px;
  font-weight: 400;
  margin-bottom: 23px;
  display: inline-flex;
  color: #f9004d;
}
p.service__text.p__color {
  margin-bottom: 0;
}
h1.service__text {
  font-size: 19px;
  font-family: Poppins, sans-serif;
  padding: 10px 0px;
}

.row__about {
  display: flex;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  .service__box {
    padding: 32px;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    /* flex-direction: column; */
    justify-content: center; /* margin-left: 30px; */
  }
  .progress__title {
    width: 250%;
  }

  .container {
    width: 100%;
    display: contents;
    justify-content: center;
  }
  .col__md__1 {
    width: 100%;
  }

  .col__md__2 {
    width: 100%;
  }
}

@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}
@keyframes animate-positive {
  0% {
    width: 0;
  }
}
